# datasets
*.csv
*.gz

# temp folders
__pycache__/
.ipynb_checkpoints/

# venv
venv/

# env files
.env
!.env.example

# csv in data folder
data/*.csv

# log files
data_clean/*.log
tmp_downloaded
tmp_joined
tmp_unzipped
