body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.cf-page {
    height: calc(100% - 40px);
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
            "header header"
            "charts map"
            "info map";
    grid-gap: 20px;
    padding: 20px;
    background: #f8f9fa!important;
}

.cf-card {
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, .125);
    --bs-card-border-radius: 1rem;
    --bs-card-box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
    --bs-card-bg: #fff;
    box-shadow: var(--bs-card-box-shadow);
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.top-container {
    grid-area: header;
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 1fr;
    grid-template-areas: "title im logo";
    gap: 20px;
}

.top-title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #0071BC;
    font-family: sans-serif;
}

.cfim-contaner {
    grid-area: im;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#im > div {
    width: 100%;
}

.cflogo-container {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 15px;
}

.cflogo-container > img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cflogo-container > span {
    grid-area: tittle;
    font-size: 15px;
    font-weight: bold;
    color: #0071BC;
    display: block;
    font-family: sans-serif;
    text-align: center;
    align-self: center;
}

.charts-container {
    grid-area: charts;
    background: rgba(0, 0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    overflow-y: scroll;
}

.cf-page-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #9e9e9e;
}

.cf-page-info a {
    color: #039be5;
}

.table-container {
    height: 50vh;
}

.table-container-header {
    text-align: center;
    font-family: sans-serif;
    height: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container-content {
    padding: 10px;
    overflow: auto;
    height: calc(100% - 65px);
}

.table-container-content > div {
    width: 100%;
    height: 100%;
}

.table-hosts {
    font-size: 0.8em;
    border-collapse: collapse;
    color: #333;
}

.table-hosts th, .table-hosts td {
    padding: 8px;
    text-align: left;
}

.table-hosts th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-hosts tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-hosts, .table-hosts th, .table-hosts td {
    border: none;
}

.table-hosts tr {
    border-bottom: 1px solid #eaeaea;
}

.table-hosts td:not(:first-child) {
    text-align: center;
}

.map-container {
    grid-area: map;
    padding: 5px;
    height: calc(100% - 10px) !important;
    width: calc(100% - 10px) !important;
}

.map-container > div {
    border-radius: var(--bs-card-border-radius);
}

.widgets-container {
    display: grid;
    grid-template-rows: 460px 400px 350px 440px;
    grid-template-columns: 1fr;
    grid-template-areas: "first" "second" "third" "fourth";
    gap: 10px;
    margin-top: 20px;
}

.cf-room-type {
    display: grid;
    grid-template-rows: 35px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "title title "
            "description statistics"
            "chart chart";
    height: calc(100% - 20px);
    gap: 10px;
}

.cf-room-type > .title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 1px solid #5a5a5a;
}

.cf-room-type > .description {
    grid-area: description;
    position: relative;
    color: #5a5a5a;
    font-size: .8em;
    line-height: 1.3;
    margin-top: 10px;
}

.cf-room-type > .chart-container {
    grid-area: chart;
}
.chart-container > div {
    width: 100%;
    height: 100%;
}

.cf-room-type > .info-container {
    grid-area: statistics;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

/* Activity */

.cf-activity {
    display: grid;
    grid-template-rows: 32px 100px auto;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-areas:
            "title title title"
            "description description statistics"
            "chart chart chart";
    gap: 10px;
}

.cf-activity > .title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 1px solid #5a5a5a;
}

.cf-activity > .description {
    grid-area: description;
    position: relative;
    color: #5a5a5a;
    font-size: .8em;
    line-height: 1.3;
}

.cf-activity > .chart-container {
    grid-area: chart;
}

.cf-activity > .info-container {
    grid-area: statistics;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Licenses */

.cf-licenses {
    display: grid;
    grid-template-rows: 32px 2fr 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "title title"
            "description statistics"
            "chart statistics"
            "chart statistics";
    gap: 10px;
}

.cf-licenses > .title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 1px solid #5a5a5a;
}

.cf-licenses > .description {
    grid-area: description;
    position: relative;
    color: #5a5a5a;
    font-size: .8em;
    line-height: 1.3;
}

.cf-licenses > .chart-container {
    grid-area: chart;
}

.cf-licenses > .info-container {
    grid-area: statistics;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Listings per Host */

.cf-listing-per-host {
    display: grid;
    grid-template-rows: 32px 150px auto;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-areas:
            "title title title"
            "description description statistics"
            "chart chart chart";
    gap: 10px;
}

.cf-listing-per-host > .title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 1px solid #5a5a5a;
}

.cf-listing-per-host > .description {
    grid-area: description;
    position: relative;
    color: #5a5a5a;
    font-size: .8em;
    line-height: 1.3;
}

.cf-listing-per-host > .chart-container {
    grid-area: chart;
}

.cf-listing-per-host > .info-container {
    grid-area: statistics;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.chart-container canvas {
    border-radius: 10px;
}

.info-container > .info-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    font-size: small;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 5px;
}

.info-item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.info-item-title > span {
    font-size: smaller;
}

.info-item-title > .color {
    width: 10px;
    height: 10px;
}

.info-item > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.investors-modal {
    z-index: 1000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.investors-modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 1rem;
    width: 75%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px auto;
    grid-template-areas:
            "header"
            "content";
}

.investors-modal-header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.investors-modal-header > .modal-title > a {
    font-weight: bold;
    color: #039be5;
}
.investors-modal-header > .modal-title > .listing-name {
    color: #546e7a;
}

.investors-modal-header > .modal-title {
    font-size: 1.5em;
    color: #546e7a;
}

.close-investors-modal {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    height: 100%;
    color: #f44336;
}

.investors-modal-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0 1fr 1fr;
    grid-template-areas:
            "spacer"
            "info"
            "modalcharts";
    gap: 10px;
}

.investors-modal-content > .info {
    grid-area: info;
    display: grid;
    grid-template-columns: calc(50% - 15px) 30px calc(50% - 15px);
    grid-template-rows: 30px auto 30px;
    grid-template-areas: "left-side picture right-side"
                         "left-side picture right-side"
                         "reviews bottom bottom";
}

.investors-modal-content > .info > .reviews {
    grid-area: reviews;
    display: flex;
    align-items: center;
    justify-content: center;
}

.investors-modal-content > .info > .left-side {
    grid-area: left-side;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.investors-modal-content > .info > .left-side > #listing-picture {
    width: 100%;
    border-radius: 1rem;
    max-height: 25vh;
    object-fit: cover;
}

.investors-modal-content > .info > .picture {
    grid-area: picture;
    display: flex;
    align-items: center;
    justify-content: center;
}

.investors-modal-content > .info > .picture > .picture-img {
    position: relative;
    top: -25%;
}

.investors-modal-content > .info > .picture > .picture-img > img {
    width: 100px;
    border-radius: 100px;
    border: 6px solid white;
}

.investors-modal-content > .info > .right-side {
    grid-area: right-side;
    display: grid;
    grid-template-columns: 50px auto auto;
    grid-template-rows: 1fr 1fr 40px 20px;
    align-items: center;
    grid-template-areas: "space first second"
                         "space third fourth"
                         "fifth fifth fifth"
                         "bottom bottom bottom";
}

.modal-listing-info {
    grid-area: fifth;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #546E74 !important;
    font-weight: bold;
}

.icon-value {
    text-align: center;
    font-size: larger;
    /*font-weight: bold;*/
    /*display: grid;*/
    /*grid-template-columns: 2em auto;*/
    /*grid-template-rows: auto auto;*/
    /*grid-template-areas: "icon label"*/
    /*                     "icon value";*/
    /*align-items: center;*/
    /*justify-content: center;*/
    color: #546E74 !important;
}

.investors-modal-content > .info > .right-side > .listing-price {
    grid-area: first;
}
.investors-modal-content > .info > .right-side > .min-nights {
    grid-area: second;
}
.investors-modal-content > .info > .right-side > .listing-beds {
    grid-area: third;
}
.investors-modal-content > .info > .right-side > .listing-bedrooms {
    grid-area: fourth;
}

.icon-value > i {
    grid-area: icon;
}

.icon-value > span {
    grid-area: label;
}

.icon-value > div {
    grid-area: value;
    border-bottom: 1px solid #546E74;
}

.investors-modal-content > .modal-charts {
    grid-area: modalcharts;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(11, 240px);
    height: calc(50vh - 135px);
    overflow-y: scroll;
}

.modal-charts > .modal-chart {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px auto;
    grid-template-areas: "title chart"
                         "description chart";
    gap: 10px;
}

.modal-chart > .modal-chart-title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 1px solid #5a5a5a;
}

.modal-chart > .modal-chart-description {
    grid-area: description;
    color: #5a5a5a;
    font-size: .8em;
    line-height: 1.3;
}

.modal-chart > .modal-chart-visual {
    grid-area: chart;
}
